body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.3fr;
  column-gap: 10px;
  row-gap: 20px;
  max-width: 600px;
  min-width: 350px;
  margin: auto;
  padding-top: 20px;
}

.input-text,
.input-date {
  font-size: 17px;
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  min-width: 120px;
  background-color: pink;
}

.btn-add,
.btn-delete {
  font-size: 17px;
  border: none;
  border-radius: 4px;
  height: 44px;
  color: white;
  cursor: pointer;

}

.btn-add {
  background-color: rgb(0, 190, 0);
  min-width: 70px;
}

.btn-delete {
  background-color: rgb(216, 0, 0)
}

.new-task,
.new-date {
  font-size: 19px;
  padding-left: 10px;
  overflow-wrap: break-word;
}

@media(max-width:600px) {

  .input-text,
  .input-date {
    min-width: 90px;
    font-size: 16px;
    height: 17px;
    background-color: red;
  }

  .btn-add,
  .btn-delete {
    font-size: 15px;
    height: 40px;
  }

  .new-task,
  .new-date {
    font-size: 17px;
  }

}